.app{
  display: grid;
  place-items: center;
  background-color: rgb(248, 215, 182);
  height: 100vh;
}

.app_body{

  display: flex;
  background-color: #711C91;
  height: 90vh;
  width: 90vh;
  box-shadow:-1px 4px 20px -6px rgba(0, 0, 0) ;
  
}